/* Luis Ginés Casanova de Utrilla - DWEC */
body { /* Estilo del body */
    background-color: rgb(221, 255, 255);
}

a { /* Estilo para los enlaces */
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #6DD47E;
    color: #293250;
    padding: 5px 5px;
    border-radius: 20px;
    border: 2px solid #000000;
    margin-top: 10px;
    width: 50%;
}

#maqueta {/* Maquetación general de la página */
    display: grid;
    grid-template-areas: 'lienzo contenedor_imagenes'
        'lienzo formulario_acciones';
    grid-template-columns: 85% 15%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(114, 178, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 99%;
}

#lienzo { /* Maquetación del lienzo */
    grid-area: lienzo;
    height:100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-image: url("../imagenes/fondo.png"); /* Añadimos la imagen de fondo */
    background-size: cover; 
}

.imagenClonada{ /* Estilo para las imagenes que clonamos en el lienzo */
    position:absolute;
    width:200px; /* Aumentamos su tamaño en 100px */
}

#contenedor { /* Maquetación del contenedor de imágenes */
    grid-area: contenedor_imagenes;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    border-left: 5px solid rgb(114, 178, 255);
}

.imagenesContenedor { /* Estilo base para las imágenes del contenedor */
    width: 100px;
    padding: 10px 5px 10px 5px;
}

#formulario { /* Maquetación del contenedor de formulario */
    grid-area: formulario_acciones;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    border-left: 5px solid rgb(114, 178, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#formularioEfectos { /* Estilo del formulario concreto */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botonGuardar:hover{ /* Estilo del botón guardar, para añadir un efecto al pasar por encima */
    background-color: rgb(128, 255, 114);
    color: rgb(3, 70, 152);
    border: 2px solid rgb(54, 170, 0);
}